<!DOCTYPE html>
<html lang="en">
<head>

     <title>Terminal UI</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/bootstrap.min.css">
     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/font-awesome.min.css">
     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/aos.css">
     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/owl.carousel.min.css">
     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/TerminalUI-Frontend/templates/css/templatemo-digital-trend.css">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <i class="fa fa-line-apple"></i>
              <h1 class="text-white"><i><u>
              Terminal UI
               </u></i></h1>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are ready for taking your requests</h1>
                                   <button onclick="window.location.href='/menu'" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let's get started!</button>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="/TerminalUI-Frontend/templates/images/team.jpg" class="img-fluid" alt="working team">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div>

                    <div>
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Create your <strong>infrastructure</strong> by use of <strong>a WebApp</strong> </h2>
                              <h5 class="mb-4" data-aos="fade-up"> You can choose whatever tool you would like to use by: <br>Just clicking on let's get started!</br></h5>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Tools Available:
                            
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="/TerminalUI-Frontend/templates/images/hadoop.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Hadoop</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="/TerminalUI-Frontend/templates/images/aws_1.jpg" class="img-fluid" alt="project image">
                                    <div class="project-info">
                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>AWS cloud</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                                   
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="/TerminalUI-Frontend/templates/images/ansible_new.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Ansible </span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="/TerminalUI-Frontend/templates/images/docker.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Docker</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="/TerminalUI-Frontend/templates/images/kubernetes.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        

                                        <h3>
                                             
                                                  <span>Kubernetes(COE)</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             
                                        </h3>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="/TerminalUI-Frontend/templates/js/jquery.min.js"></script>
     <script src="/TerminalUI-Frontend/templates/js/bootstrap.min.js"></script>
     <script src="/TerminalUI-Frontend/templates/js/aos.js"></script>
     <script src="/TerminalUI-Frontend/templates/js/owl.carousel.min.js"></script>
     <script src="/TerminalUI-Frontend/templates/js/smoothscroll.js"></script>
     <script src="/TerminalUI-Frontend/templates/js/custom.js"></script>

</body>
</html>
