<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .split {
                height: 100%;
                width: 50%;
                position: fixed;
                z-index: 1;
                top: 0;
                overflow-x: hidden;
                padding-top: 20px;
            }
                
            .left {
                left: 0;
            }
                
            .right {
                right: 0;
            }
        </style>
          
    </head>
    <body>
        <h1>Menu</h1> <br>
        <div>
            <div class="split left">
                <ol>
                    <li>Docker</li>
                    <li>Httpd on Docker</li>
                    <li>Create Hadoop Cluster</li>
                </ol>
            </div>

            <div class="split right">
                <form action="/task">
                    <input name="choice" type="number" /> <br>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>